<h1>Adds a new Person to Highrise Platform</h1>
<form name="add_person" method="post" action="add_person">
	Highrise URL: <input type="text" name="url" value='<%= @url %>'></input><br/>
	Highrise User: <input type="text" name="user" value='<%= @user %>'></input><br/>
	Highrise Token: <input type="text" name="token" value='<%= @token %>'></input><br/>
  	Name: <input type="text" name="name" value='<%= @name %>'></input><br/>
    Last Name: <input type="text" name="last_name" value='<%= @last_name %>'></input><br/>
    Company: <input type="text" name="company" value='<%= @company %>'></input><br/>
    Email: <input type="text" name="email" value'<%= @email %>'></input><br/>
    Phone <input type="text" name="phone" value='<%= @phone %>'></input><br/>
    Website: <input type="text" name="website" value='<%= @website %>'></input><br/>
    Job Title: <input type="text" name="job_title" value='<%= @job_title %>'></input><br/>
    <button type="submitt">Add Person</button>
</form>
<br/>
